:root {
    /* Colors */
    --color-background: #ede7c5;
    --color-text: #000000;
    --color-accent: #b03060;
    --color-accent-secondary: #6a6a6a;
    /* Fonts */
    --font-primary: 'JetBrains Mono', monospace;
    --font-size-base: 16px;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-nav: 0.8rem;

    /* Spacing */
    --spacing-sm: 20px;
    --spacing-md: 40px;
    --spacing-lg: 60px;

    /* Layout */
    --nav-width: 150px;
    --text-column-width: 50%;
    --image-column-width: 50%;
}

body {
    margin: 0;
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-background);
    display: flex;
}

.side-nav {
    width: var(--nav-width);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--spacing-sm);
    box-sizing: border-box;
    border-right: 1px solid black;
}

.side-nav a {
    display: block;
    color: var(--color-text);
    text-decoration: none;
    margin-bottom: var(--spacing-sm);
    font-size: var(--font-size-nav);
    font-weight: bold;
    text-transform: uppercase;
}

.main-content {
    display: flex;
    margin-left: var(--nav-width);
    width: calc(100% - var(--nav-width));
    height: 100vh;
    overflow: hidden;
}

.text-column {
    position: relative;
    overflow-y: auto;
    width: var(--text-column-width);
    height: 100vh;
    padding: var(--spacing-md);
    box-sizing: border-box;
    border-right: 1px solid black;
    background-image: 
        radial-gradient(rgba(0, 0, 0, 0.5) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.15), transparent);
    background-size: 5px 5px, 100% 100%;
    background-blend-mode: overlay;
    background-color: var(--color-background);
}

.text-column-content {
    position: relative;
    z-index: 1;
}

.text-column::-webkit-scrollbar {
    display: none;
}

.image-column {
    flex-grow: 1;
    background-image: url('content/images/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

.link {
    color: var(--font-primary);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

h1 {
    font-size: var(--font-size-h1);
    color: var(--color-accent);
    margin-bottom: var(--spacing-md);
}

h2 {
    font-size: var(--font-size-h2);
    margin-top: var(--spacing-lg);
}

h3 {
    font-size: var(--font-size-h3);
    margin-top: var(--spacing-lg);
    color: var(--color-accent-secondary);
}

p {
    margin-bottom: var(--spacing-sm);
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-accent);
    color: white;
    text-decoration: none;
    border-radius: var(--spacing-sm);
}

